* {
    box-sizing: border-box;
    position: relative;
}

.p1block, .p2block {
    font-size: 48px;
}

body {
    text-align: center;
}

td {
    border: 2px solid black;
    width: 75px;
    height: 75px;
}

.board, #middle {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.p1colScore, .p2colScore {
    height: 50px;
}

/* .score {
    width: 75px;
    height: 75px;
} */

.roll {
    /* width: 75px;
    height: 75px; */
    font-size: 48px;
}

#mid {
    border: 0px;
    width: 50px;
    height: 50px;
}