* {
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

.p1block, .p2block {
    font-size: 48px;
}

body {
    text-align: center;
    background-color: bisque;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr 0.5fr 2fr;
}

td {
    border: 2px solid black;
    width: 65px;
    height: 65px;
}

.board, #middle {
    display: flex;
    justify-content: center;
    font-size: 24px;
    grid-column: 2;
}

#middle {
    grid-row: 2;
    grid-column: span 3;
}

.p1colScore, .p2colScore {
    height: 55px;
    width: 55px;
    font-size: 24px;
    border: 0px;
    /* background-color: rgba(0, 0, 0, 0%); */
}

.roll {
    font-size: 48px;
}

#mid {
    border: 0px;
    width: 50px;
    height: 50px;
}

h3 {
    font-size: 48px;
}